* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.ContainerCard {
  padding: 2pc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1pc;
}
.Card {
  border-radius: 8px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0.6pc 0 0;
  gap: 0.6pc;
  background-color: #3c3e44;
  box-shadow: 0px 4px 4px 0px rgba(110, 104, 104, 0.53);
}
.Card img {
  width: 10pc;
  border-radius: 8px 0 0 8px;
}
.Card h1 {
  white-space: nowrap;
  width: 230px;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Spiner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .ContainerCard {
    grid-template-columns: 1fr;
    padding: 1pc;
  }
}
